button {
  font-size: $font-size-small;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  background: none;
  transition: color 300ms, background-color 300ms;
}

.c-btn {
  padding: 1.25em 2.5em;
  display: inline-block;

  &--primary {
    color: $color-white;
    background: $color-primary;

    &:hover {
      background: $color-primary-light;
    }
  }

  &--secondary {
    color: $color-black;
    background: transparent;
    border: 1px solid $color-black;

    &:hover {
      background: $color-black;
      color: $color-white;
    }

    &--dark {
      color: $color-white;
      background: $color-black;

      &:hover {
        background: $color-black-ligher;
      }
    }
  }
}

.link-button {
  opacity: 0.5;
  position: relative;
  transition: color 300ms;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
    width: 10px;
    height: $font-size-small;
    background-image: url("/public/assets/shared/desktop/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover {
    color: $color-primary;
  }
}
