//colors
$color-primary: #d87d4a;
$color-primary-light: #fbaf85;
$color-secondary: #101010;
$color-gray-dark: #f1f1f1;
$color-gray-light: #fafafa;
$color-white: #fff;
$color-black: #000;
$color-black-ligher: #4c4c4c;
$color-border: #cfcfcf;
$color-error: #cd2c2c;

//text-size
$font-size-default: 16px;
$font-size-small: 0.75rem;

//gaps
$gap-x-small: 1.5rem;
$gap-y-small: 2rem;
$gap-x-mid: 2.5rem;
$gap-y-mid: 2rem;

// border
$border-radius: 8px;

//input
$input-height: 3rem;
